.error {
    width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    &-img {
        filter: drop-shadow(5px 5px 20px #495057);
    }

    &-link {
        animation: gelatine 2s infinite 1s;
    }
}

@keyframes gelatine {
    from { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
    to { transform: scale(1, 1); }
}